<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forProduct.css">
    <title>Products Page</title>
</head>
<body>
    <main>
        <container>
            <h1>Need AnyThing???</h1>
            <ul class="products">
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>
                <li>
                    <img src="/static/images/you.png" alt="you">
                    <h2>you</h2>
                    <p>$99.99</p>
                    <button class="butt">Add to Cart</button>
                </li>

            </ul>
        </container>
    </main>
</body>
</html>