body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: url("/static/images/bg.png") no-repeat; */
    background-image: url("https://img.freepik.com/free-photo/two-young-beautiful-blond-smiling-hipster-women-trendy-summer-clothes-sexy-carefree-women-posing-near-blue-wall-sunglasses-positive-models_158538-7651.jpg?t=st=1653412601~exp=1653413201~hmac=f4fbcd340b4b2646f3f45f2683335e5fb9cba5e3d7e61f286d3af152f3436722&w=1380");
}

.topnav {
    position: relative;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    /* font-size: 20px; */
}

ul {
    list-style-type: none;
    font-size: 22px;
}

.topnav ul li a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.topnav-left ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 95%;
    left: 0;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.topnav a:hover {
    color: #ffffff;
}

.topnav-left ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.topnav-centered a {
    color: #ffffff;
    margin-top: 9px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.topnav-right {
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.topnav-right a{
    
}

.topnav-left {
    font-size: 20px;
    font-weight: bold;
}


/* Responsive navigation menu (for mobile devices) */

@media screen and (max-width: 600px) {
    .topnav a,
    .topnav-right {
        float: none;
        display: block;
    }
    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

.content{
    font-family: 'Rubik', sans-serif;
    font-size:20px;
    font-weight:900;
    width: 700px;
    /* border: 1px solid black; */
    position: absolute;
    top: 40%;
    left: 5%;
}

.shop{
    font-size: 12px;
    padding: 10px 35px;
    margin-top: 20px;
    border: 2px solid #ff7000;
    border-radius: 10px;
    background-color: #fff;
    color: #ff7000;
    font-weight: 100;
    
}

.shop a:hover{
    color: #ff7000;
}

.shop a{
    /* background-color: #fff; */
    color: #ff7000;
    text-decoration: none;
    
    
}

.search{
    /* float: left; */

}