body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/2272752/pexels-photo-2272752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.topnav {
  position: relative;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 3px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-size: 15px;
}

.topnav ul li a {
  position: relative;
  text-decoration: none;

  color: #ffffff;
  transition: 0.5s;
}

.topnav-left ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;

  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.topnav a:hover {
  color: #ffffff;
}

.topnav-left ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.topnav-centered a {
  color: #ffffff;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.topnav-right {
  float: right;
  font-size: 17px;
}

.topnav-left {
  font-size: 16px;
  font-weight: bold;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {

  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}